@model WhiteBoxQA.Models.Candidate

@{
    ViewBag.Title = "Success";
}

<div class="result">
    <h2>Ok @Model.Name</h2>
    <h3>My favorite number is 100.<br /><br />Dividing that number by your favorite number results in a remainder of @Model.Remainder.</h3>
</div>

